h5{
 	font-weight: bold;
}


header{
	padding: 50px;
}

section{
	padding: 50px;

	h6{
		//margin-bottom: 20px;
		font-weight: bold;
	}

	#txt-pregUs{
		text-align: center;
	}

	.preguntas-us{
		padding: 20px; 
		border: 2px orange solid;
		border-radius: 15px;

		table{
			border: none;

			.pregunta{

				margin-bottom: 10px;

					input{
						margin-left: 20px;
						horizontal-align: top;
					}
			}	
		}
	}

	/*.enunciados-prof{
		margin-top: 80px;
		border: 2px orange solid;

		.title-topic{
			padding: 10px 10px;
			background-color: orange;
			
		}

		.title-subtopic{
			font-weight: bold;
			padding: 6px 10px;
		}

		.enunciado-prof{
			padding: 3px 10px;
			margin: 0px;
		}
	}*/

	.valoraciones-prof{
		margin-top: 80px;
		margin-left: 15px;
		border: 2px orange solid;

		.title-topic{
			padding: 10px 10px;
			margin-left: 0px;
			background-color: orange;
			
		}

		.title-subtopic{
			font-weight: bold;
		}


		th{
			//padding-left: 10px;
			width: 100px;
			height: 30px;
			font-weight: normal;
			vertical-align: bottom;
		}

		th:first-child{
			width: 800px;
			border: 2px orange solid;
		}

		.valoracion{
			margin-bottom: 10px;

			input{
				margin-left: 20px;
				horizontal-align: top;
			}
		}
	}
}


th{
	width: 150px;
	height: 30px;
	font-weight: normal;
}

