body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
}
p {font-size: 16px;}

.bg-0{
	 background-color: #9fb8e0; 
     color: #ffffff;
}

.bg-1{
	 background-color: #7fa3db; 
     color: #ffffff;
}

.bg-2{
	background-color: #9fb8e0;
}

.bg-3{
	background-color: #7d99c6;
}

.bg-4{
	background-color: #32373d;
	color: #ffffff;
}
.news{
	background-color: #404a5e;
	border-radius: 7px;
}
.news p{
	margin-bottom:0px;
	font-size: 20px;
}
.news-palet a{
	color: #ffffff;
	margin-top: 20px;
	font-size: 15px;
}
.news-palet a:hover{
	color: #1abc9c !important;
}
.margin {
	margin-bottom: 25px;
}

.container-fluid {
      padding-top: 30px;
      padding-bottom: 30px;
}
.cbottom{
	margin-bottom: 25px;
	margin-top: 25px;
}
.cbottom-nvidia{
	margin-top: 45px;
}
.ctop{
	margin-top: 25px;
}
.linea-parrafo{
	font: 20px Montserrat, sans-serif;
    color: #283544;
	padding-left: 20px;
	margin-top: 40px;
}
.descripcion{
	margin-top: 35px;
}
.programa{
	background-color: #7d99c6;
}
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}


